<!DOCTYPE html>

<div class="container-fluid">
  <h1>Health Tracker| <%= link_to "Signup",new_user_registration_path, class:"btn"%> |  <%= link_to "Login",new_user_session_path, class:"btn"%></h1>

  <hr>
</div>
