// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.displaynav{
  display: inline-block;
  float: right;
}
.signup{
  float: right;
}
.intro-header {
  background-image: url(asset-path('fitness.jpg'));
  width: 100%;
  height: 520px;
  background-size: cover;
}
.intro {
  background-color: rgba(149, 222, 187, 0.62);
  background-size: cover;
  height: 520px;
}
.info{
  border: 1px solid #ffffff;
  width: 100%;
  height: 100%;
  margin-top: 20%;
  color: #ffffff;
}
